# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Build & Derived data
build/
DerivedData/

# Xcode Workspace
*.xcworkspace

# Obj-C / Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output